{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <div>
        <form action="cambiocontraseña/" method="POST" class="card card-body needs-validation" novalidate>
    
            <h1 class="display-1 text-center">Buscar Usuario</h1>
            
            {{error}}
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="username1">Identificación:</label>
                <input type="number" name="username1" id="username1" class="form-control" placeholder="Digite el documento de identidad" required>
                <div class="invalid-feedback">
                    Proporciona una identificación valida.
                </div>
            </div>
            <div class="mb-3">
                <label for="username2">Confirmar Identificación:</label>
                <input type="number" name="username2" id="username2" class="form-control" placeholder="Digite nuevamente el documento de identidad" required>
                <div class="invalid-feedback">
                    Proporciona una identificación valida.
                </div>
            </div>
            
            
            <button class="btn btn-dark">
                Buscar
            </button>
        </form>
    </div>    


<script>
        // Ejemplo de JavaScript inicial para deshabilitar el envío de formularios si hay campos no válidos
        (function () {
            'use strict'
        
          // Obtener todos los formularios a los que queremos aplicar estilos de validación de Bootstrap personalizados
            var forms = document.querySelectorAll('.needs-validation')
        
          // Bucle sobre ellos y evitar el envío
            Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
        
                form.classList.add('was-validated')
                }, false)
            })
        })()
        
</script>
    

</main>


{% endblock %}
